services:
  bot:
    container_name: des-1405
    build: .
    ports:
      - "8080:3000"
    environment:
      - NODE_ENV=production
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - RPS_CHANNEL=${RPS_CHANNEL}
      - BT1_ROLL_ID=${BT1_ROLL_ID}
      - BT2_ROLL_ID=${BT2_ROLL_ID}
      - BT_CHANNEL=${BT_CHANNEL}
      - DICE_CHANNEL=${DICE_CHANNEL}
    restart: unless-stopped
    depends_on:
      - libretranslate
  libretranslate:
    container_name: libretranslate
    image: libretranslate/libretranslate:latest
    ports:
      - "5000:5000"
    restart: unless-stopped

    environment:
      - LT_PORT=5000
      - LT_DEFAULT_TO=en
      - LT_DEFAULT_FROM=auto
      - LT_UPDATE_MODELS=true
      - LT_MODEL_DOWNLOAD=true
      - LT_THREADS=6
      - LT_TIMEOUT=60
      - LT_LOG_LEVEL=info
      - LT_CACHE_DIR=/app/lt_cache
      - LT_MODEL_DIR=/app/models
      - LT_MODEL_DOWNLOAD_THREADS=6=value
    healthcheck:
      test: ["CMD-SHELL", "./venv/bin/python scripts/healthcheck.py"]
      interval: 10s
      timeout: 4s
      retries: 4
      start_period: 5s
    volumes:
      - lt-local:/home/libretranslate/.local

volumes:
  lt-local:
    external: true
